@import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');


html , body{
    margin: 0;
    padding: 0;
    text-align: center;
}
*{
    font-family: 'Readex Pro' , sans-serif;
}

 /*-----------------Hmoe--------------*/

.title{
    font-size: 40px;
    color: rgba(255,255,255);
}
.primary-button{
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    background:linear-gradient(45deg,#fe3072,#ff5940) ;
    padding: 12px 30px;
    border-radius: 30px;
    border: none;
}
.primary-button:hover{
    background: linear-gradient(260deg,#fe3072,#0f0807);

}
.secondary-button{
    color: rgb(121,119,119);
    background-color: rgb(46, 37, 61);
    font-weight: 500;
    text-transform: uppercase;
    font-size: 15px;

    padding: 12px 30px;
    border-radius: 30px;
    border: solid 2px rgb(121,119,119);

}
.secondary-button:hover{
    color: #0f0807;
    border: solid 2px rgb(48,48,48);
}
body{

}
.home{
    margin-top: 30vh;
}

/*-----------NAV----------*/
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: border-box;
   background-color: #2c0921;
    border-width: 4px;
    border-color: white;

}
nav .logo-container{

    width: 200px;
    margin: 15px;
    color: blueviolet;
}
nav .logo-container .logo{
    width: 100%;
}
nav .nav-button{
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background:linear-gradient(45deg,#fe3072,#ff5940) ;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    margin: 10px;
}
nav .nav-button:hover{
    background: linear-gradient(260deg,#fe3072,#0f0807);

}
nav .nav-button:disabled{
    background-color: rgb(180,180,180);
    color: rgb(160,40,80);
}


/*---------AUTH---------*/
.overlay{
position: absolute;
    width: 100vw;
    height: 100vh;
    position: fixed;
    background: linear-gradient(to bottom,rgb(0,0,0,0.65)0%, rgb(0,0,0,0)100%),url("assert/chat.jpg"),fixed;
}

.auth-modal{
    left: 0;
    right: 0;
    position: absolute;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    max-width: 360px;
    height: 600px;
    background-color: rgb(255,255,255);
    border-radius: 10px;
    padding: 40px;
}

.auth-modal .close-icon{
    float: right;
}
.auth-modal form {
    display: flex;
    flex-direction: column;

}
.auth-modal input[type=password],
.auth-modal input[type=email],
.auth-modal input[type =confirmpassword],
.auth-modal input[type =phoneNumber],
.auth-modal input[type =avatarURL],
.auth-modal input[type =username]

 {
    padding: 8px;
    margin: 8px;
    font-size: 20px;
    width: 90%;
    border-radius: 20px;
    border-bottom-color: #862113;
}









